<div>
  <mat-grid-list cols="1" rowHeight="4rem">
    <mat-grid-tile>
      <mat-icon>photo_album</mat-icon>
      <span>ADD USER</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="First Name" [ngModel]="first_name">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Last Name" [ngModel]="last_name">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="User Name" [ngModel]="username">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Password" [ngModel]="password">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Quota" [ngModel]="quota">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Department</mat-label>
        <mat-select [(ngModel)]="selectedDepartment" name="dept">
          <mat-option *ngFor="let dept of departments" [value]="departments">
            {{dept}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-stroked-button color="accent" (click)="onSubmit()">Add Child</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

