<div>
  <mat-grid-list cols="1" rowHeight="4rem">
    <mat-grid-tile>
      <mat-icon>photo_album</mat-icon>
      <span>ADD USER</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="First Name">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Last Name">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-select></mat-select>
<!--        <mat-label>Department</mat-label>-->
<!--        <mat-select [(ngModel)]="selectedDepartment" name="dept">-->
<!--&lt;!&ndash;          <mat-option *ngFor="let dept of departments" [value]="dept.value">&ndash;&gt;-->
<!--&lt;!&ndash;            {{dept.value}}&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-option>&ndash;&gt;-->
<!--        </mat-select>-->
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-stroked-button color="accent">Add Child</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

